:root {
	--padding: 2rem;
	--textColor: #336699;
	--marginColor: #CAC4CE;
	--margin: 0 auto;
	--max-width: 70rem;
}

body {
	font-family: 'Times New Roman', Times, serif;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

/*Navigation*/

.logo {
	max-width: 8rem;
}

.primary_nav {
	display: flex;
	gap: 1rem;
	text-decoration: none;
	list-style-type: none;
	color: var(--textColor);
	padding: 1rem;
	margin: var(--margin);
	top: 0;
	right: 0;
	inset: 0 0 0 25%;
}

.main_menu {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	color: var(--textColor);
	padding: 1rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-height: 5rem;
}

/* Body */


/* Headline__section */

.first_section {
	display: flex;
	flex-direction: row;
	max-width: 72rem;
	margin: var(--margin);
}

.second_section {
	display: flex;
	flex-direction: row;
	max-width: 72rem;
	margin: var(--margin);
}

.third_section {
	display: flex;
	flex-direction: row;
	max-width: 71rem;
	margin: var(--margin);
}

.empty_space {
	display: flex;
	flex-grow: 2;
	border-bottom: 2px solid var(--marginColor);
}

.headlines__section {
	display: flex;

}

.view_all {
	display: flex;

}

/*Headline section */

.headlines {
	display: flex;
	justify-content: center;
	padding: 0 2rem 2rem 2rem;
	margin: 0 auto;
	max-width: 70rem;
}

.headline_photo {
	max-width: 35rem;
	background-repeat: no-repeat;
	background-size: contain;
}

.headline__image {
	width: 100%;
	border-right: 2px solid var(--marginColor);
	padding: 1rem;
}

.date {
	display: flex;
	align-content: baseline;
}

.all-news {
	max-width: 30rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
}

a {
	color: var(--textColor);
	text-decoration: none;
	font-weight: bold;
}

/* Opinion section */
.opinion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 2rem 2rem 2rem;
	margin: 0 auto;
	max-width: 70em;
	gap: 2rem;
}

.section_opinion-1 {
	display: flex;
	flex-direction: column;
	border-right: 2px solid var(--marginColor);
	align-content: center;
	justify-content: center;
}

.section_opinion-2 {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-right: 2px solid var(--marginColor);
}

.section_opinion-3 {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.text_input_opinion {
	color: var(--textColor);
}

h2 {
	color: var(--textColor);
}

.img_opinion {
	padding-top: 2rem;
	max-width: 20rem;
	max-height: 20rem;
}

/* Sport section */
.img_sport {
	max-width: 25rem;
}

.sport_section {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--max-width);
	gap: 2rem;
}

.main_headline {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sport_headlines {
	display: flex;
	flex-direction: row;
	gap: 4rem;
}

.sport_news {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	border-left: 2px solid var(--marginColor);
}

.text_input_opinion {
	color: #336699;
	font-weight: bold;
}

/* Sign-up section */

.sign_up-section {
	max-width: 90rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10rem;
	padding: 2rem;
	margin: var(--margin);
	font-weight: bold;
	color: black;
	background-color: var(--marginColor);
	font-size: larger
}

.sign_up-button {
	display: block;
	background-color: #FFC857;
	border: 0rem;
	font-weight: bold;
	min-width: 20rem;
	min-height: 4rem;
}

/* Footer */
.logo_footer {
	max-width: 7rem;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-right: 2rem;
	margin: var(--margin);
	max-width: 65rem;
	gap: 15rem;
	color: var(--textColor);
	font-size: small;
	font-weight: bold;
}

.section_footer-1 {
	display: flex;
	flex-direction: column;
	text-decoration: underline;
}

.section_footer-2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.section_footer-3 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.copyright {
	color: grey;
	font-size: small;
	display: flex;
	justify-content: flex-start;
	padding: 2rem auto;
	margin: var(--margin);
	max-width: 65rem;
}

/* Responsiveness */

.mobile_nav {
	display: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.before__section {
	color: var(--textColor);
	font-weight: bold;
}

.view_all {
	color: var(--textColor);
	font-weight: bold;
}

/* Media Queries*/

@media (max-width:50em) {
	footer {
		display: flex;
		flex-wrap: nowrap;
		gap: 3rem;
	}
}

@media (max-width:40rem) {
	.opinion {
		display: block;
	}

	.sign_up-section {
		display: block;
	}

	.copyright {
		display: block;
	}

	.headlines {
		display: block;
	}

	.all-news {
		border: 0;
	}

	.sport_headlines {
		display: block;
	}

	.sport_section {
		display: block;
	}

	.headline__image {
		border: none;
	}

	.headline_photo {
		width: 18rem;
	}

	.headline {
		display: block;
	}

	.section_opinion-1 {
		border: 0;
	}

	.section_opinion-2 {
		border: 0;
	}

	.sport_news {
		border: 0;
	}
}

@media (max-width:35em) {
	.primary_nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		z-index: 1000;
		inset: 0 0 0 30%;
		padding: min(20vh, 10rem) 2rem;
		background: hsla(0, 5%, 100%, 0.5);
		backdrop-filter: blur(1rem);
		--gap: 3em;
		transform: translateX(100%);
	}

	.primary_nav[data-visible="false"] {
		transform: translateX(0%);
	}

	.mobile_nav {
		position: absolute;
		display: block;
		z-index: 9999;
		background: url("./../assets/hamburger_icon.svg.png");
		background-repeat: no-repeat;
		background-size: contain;
		border: 0;
		width: 5rem;
		aspect-ratio: 1;
		width: 2rem;
		top: 2rem;
		right: 2rem;
	}

	.main_menu {
		display: block;
	}
}
